<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>Go to the gate</title>
  </head>

  <body>
    <script type="module" crossorigin src="/assets/entrance-CVbwyzJI.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/three-story-controls.esm-CtpVPblG.css">

    <div class="instruction">
      ↑ <br>
      scroll to move <br>
      ↓ <br>
    </div>
    
    <div id="dissolve-to-white"></div>

  </body>
</html>