<head>
    <link rel="stylesheet" href="/style2.css" />
</head>
   
<body>
    <div class="background-img">
        <img src="/background.png">
    </div> 

    <!-- <div class="single-post"> -->
        <div class="singlePost2">
            <div class="date"> <%= post.date %></div>
            <div><%= post.text %></div>
        
            <div class="comment-form">
                <form method="POST" action="/comment" class="comment-form">
                    <input type="text" class="comment-input" name="comment" placeholder="Leave a friendly comment..."/>
                    <input type="submit" class="submit-btn" name="submit" value="Submit">
                    <input type="hidden" name="postId" value="<%= post._id%>" />
                </form>
            
                <div class="comments-container">
                    <% post.comments.forEach( (comment) =>{ %>
                        <div class="single-comment">    
                            <div class="comment"><%= comment.text %></div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
  <!-- </div> -->

  <a class="back-arrow" href="/public">◀ Back to public space</a>
</body>