<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <script src="/animation.js"></script>
    <title>Start</title>
  </head>

  <body>
    <div class="background-img">
      <img src="/background.png">
    </div>  

    <div class="title-img">
      <img src="/Title.png">
    </div>

    <div class="login-container">
      <a href="/login">
        <div class="login-btn">
          Log in
        </div>
      </a>
      <div class="register-link">
        <a href="/register">Don't have an account? <span class="signup-text">Sign up</span> here.</a>
      </div>
    </div>

    <div id="toWhite"></div>
  </body>
</html>